---
layout: default
---

{% for tutorial in site.tutorials %}
{% if tutorial.pageId == page.parentId %}
<h3> Return to <a href={{tutorial.url}}>{{ tutorial.title }}</a>
</h3>
{% endif %}
{% endfor %}

<h1> {{page.title}} </h1>

<div>
  {%- assign hasChildren = false -%}
  {%- for tutorial in site.tutorials -%}
    {%- if page.pageId == tutorial.parentId -%}
      {%- assign hasChildren = true -%}
    {%- endif -%}
  {%- endfor -%}

  <div class="post-content e-content" itemprop="articleBody">
  {{ page.content }}
  </div>

  {%- if hasChildren == true -%}
    {%- for tutorial in site.tutorials -%}
      {%- if page.pageId == tutorial.parentId -%}
        <h3><a href={{tutorial.url}}>{{ tutorial.title }}</a></h3>
      {%- endif -%}
    {%- endfor -%} 
  {%- endif -%}
</div>

